.welcome-modal .modal-content {
    height: 400px;
    width: 400px;
}
.welcome-modal img {
    max-width: 80%;
}
.welcome-modal button {
    position: absolute;
    bottom: 0;
    right: 0;
    margin: 15px;
}
.game {
    margin-top: 15px;
}
.game-panel {
    max-width: 600px;
    display: flex;
    flex-direction: column;
}

.battle-grid, .legend {
    margin-bottom: 0px;
}

th.legend-cell, td.battle-cell {
    padding: 2px;
    color: white;
    vertical-align: middle;
    text-align: center;
    width: 3em;
}
tr > .legend-cell:first-child {
    width: 3em;
}
tr > .legend-cell.top:first-child .badge {
    visibility: hidden;
}

.legend-cell.top .badge {
    font-size: 15px;
    display: block;
}

.legend-cell.side .badge {
    width: 30px;
}

.battle-grid .btn {
    width: 100%;
    height: 100%;
}